.top-bar{
  padding-bottom: 16px;
  display: flex;
}

.wrapper {
  background: white;
  padding: 16px 16px 0;
}

.section:not(:last-child) {
  padding-bottom: 16px;
}

.title {
  font-weight: bold;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid #3f51b5;
  color: #3f51b5;
}

.info {
  display: flex;
  margin-left: 16px;
  padding-bottom: 8px;
  height: 32px;
  align-items: center;

  div:first-child {
    flex: 0 0 150px;
  }

  div: {
    flex: 1 1 auto;
  }

  div.error {
    color: red;
    padding-left: 8px;
  }
}

button.cancel {
  margin-right: 8px;
}

mat-datepicker-toggle {
  position: relative;
  right: 36px;
}