<form [formGroup]="employeeForm" *ngIf="employeeForm">
  <div class="top-bar">
    <!-- valid = {{employeeForm.valid}} dirty = {{employeeForm.dirty}} -->
    <div class="middle-space"></div>
    <ng-template [ngIf]="mode === 'view'">
      <button class="main" (click)="onEdit()">Edit</button>
    </ng-template>
    <ng-template [ngIf]="mode === 'edit'">
      <button class="main cancel" (click)="onCancel()" >Cancel</button>
      <button class="main" (click)="onSave()" [disabled]="!employeeForm.valid || employeeForm.pristine">Save</button>
    </ng-template>
  </div>
  <div class="wrapper">
    <!-- Personal Info -->
    <div class="section">
      <div class="title">Personal Info</div>
      <div class="info">
        <div>Name</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{emp.name}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit'">
          <input class="main" type="text" formControlName="name">
          <div class="error" *ngIf="employeeForm.controls.name.errors && employeeForm.controls.name.errors.required">
            This field is required.
          </div>
        </ng-template>
      </div>
      <div class="info">
        <div>Surname</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{emp.surname}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit'">
          <input class="main" type="text" formControlName="surname">
          <div class="error" *ngIf="employeeForm.controls.surname.errors && employeeForm.controls.surname.errors.required">
            This field is required.
          </div>
        </ng-template>
      </div>
      <div class="info">
        <div>Mobile No.</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{emp.mobileNo | phone}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit'">
          <input class="main" type="text" formControlName="mobileNo">
          <div class="error" *ngIf="employeeForm.controls.mobileNo.errors && employeeForm.controls.mobileNo.errors.required">
            This field is required.
          </div>
        </ng-template>
      </div>
    </div>
    <!-- Working Info -->
    <div class="section">
      <div class="title">Working Info</div>
      <div class="info">
        <div>Employee ID</div><div>{{emp.id}}</div>
      </div>
      <div class="info">
        <div>Position</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{emp.position}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit'">
          <select class="main" formControlName="position">
            <option *ngFor="let p of positions" [ngValue]="p">{{p}}</option>
          </select>
        </ng-template>
      </div>
      <div class="info">
        <div>Branch</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{emp.branch}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit'">
          <select class="main" formControlName="branch">
            <option *ngFor="let b of branches" [ngValue]="b">{{b}}</option>
          </select>
        </ng-template>
      </div>
      <div class="info">
        <div>Salary</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{emp.salary | number}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit'">
          <input class="main" type="number" formControlName="salary">
          <div class="error" *ngIf="employeeForm.controls.salary.errors && employeeForm.controls.salary.errors.required">
            This field is required.
          </div>
        </ng-template>
      </div>
      <div class="info">
        <div>Joined date</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{emp.joinDate | date: 'd MMM yyyy'}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit'">
          <input class="main" type="text" [matDatepicker]="picker" formControlName="joinDate">
          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div class="error" *ngIf="employeeForm.controls.joinDate.errors && employeeForm.controls.joinDate.errors.required">
            This field is required.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</form>