<form [formGroup]="branchForm" *ngIf="branchForm">
  <div class="top-bar">
    <div class="middle-space"></div>
    <ng-template [ngIf]="mode === 'view'">
      <button class="main" (click)="onEdit()">Edit</button>
    </ng-template>
    <ng-template [ngIf]="mode === 'edit'">
      <button class="main cancel" (click)="onCancel()">Cancel</button>
      <button class="main" (click)="onSave()" [disabled]="!branchForm.valid || branchForm.pristine">Save</button>
    </ng-template>
  </div>
  <div class="wrapper">
    <section>
      <div class="title">Branch Info</div>
      <!-- Name -->
      <div class="info">
        <div>Name</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{branch.name}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit' || mode === 'add'">
          <input class="main" type="text" formControlName="name" placeholder="Enter name">
          <div class="error" *ngIf="branchForm.controls.name.errors && branchForm.controls.name.errors.required && branchForm.controls.name.touched">
            This field is required.
          </div>
        </ng-template>
      </div>
      <!-- Tel No. -->
      <div class="info">
        <div>Tel</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{branch.telNo | phone}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit' || mode === 'add'">
          <input class="main" type="text" formControlName="telNo" placeholder="Enter telephone no." maxlength="10">
          <div class="error" *ngIf="branchForm.controls.telNo.errors && branchForm.controls.telNo.errors.required && branchForm.controls.telNo.touched">
            This field is required.
          </div>
        </ng-template>
      </div>
      <!-- Address -->
      <div class="info">
        <div>Address</div>
        <ng-template [ngIf]="mode === 'view'">
          <div>{{branch.address}}</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit' || mode === 'add'">
          <input class="main address" type="text" formControlName="address" placeholder="Enter address">
          <div class="error" *ngIf="branchForm.controls.address.errors && branchForm.controls.address.errors.required && branchForm.controls.address.touched">
            This field is required.
          </div>
        </ng-template>
      </div>
      <!-- Maps -->
      <div class="info">
        <div>Map</div>
        <ng-template [ngIf]="mode === 'view'">
          <div *ngIf="branch.map">
            <iframe (load)="onIFrameLoaded($event.target)" [src]="branch.map | safe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          <div *ngIf="!branch.map">-</div>
        </ng-template>
        <ng-template [ngIf]="mode === 'edit' || mode === 'add'">
          <input class="main map" type="text" formControlName="map" placeholder="Enter map url">
        </ng-template>
      </div>
    </section>
  </div>
</form>