.action-bar {
  margin-bottom: 16px;
  display: flex;
  align-items: center;

  input {
    flex: 0 1 300px;
  }

  mat-icon {
    position: relative;
    right: 24px;
    margin-right: -20px;
    color: rgba(0,0,0,0.3);
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  button {
    flex: 0 0 auto;
  }
}
