<div class="table-wrapper">
  <div class="search">
    <input class="main" #searchBox type="text" (input)="search(searchBox.value)" placeholder="Search employee">
    <mat-icon>search</mat-icon>
    <div class="middle-space"></div>
    <button class="main" routerLink="/employees/add">Add employee</button>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Branch</th>
      <th>Position</th>
    </tr>
    <tr *ngFor="let e of employees" routerLink="/employees/{{e.id}}">
      <td><a routerLink="/employees/{{e.id}}">{{e.name + ' ' + e.surname}}</a></td>
      <td>{{e.branch}}</td>
      <td>{{e.position}}</td>
    </tr>
  </table>
  <div>
    <mat-paginator
      showFirstLastButtons
      [length]="totalEmployees"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      (page)="onPageChanged($event)"
      >
    </mat-paginator>
  </div>
</div>